:root {
    --accent-color: #2196f3;
    --normal-color: #ffffff;
    --primary-color: #212121;
    --minor-color: #757575;
    --secondary-color: #f5f4fa;
    --time-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}


body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.link {

    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
}

/* Head */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-special {
    padding-bottom: 94px;
}

.header {
    border-bottom: 1px solid #ECECEC;
    background-color: var(--normal-color)
}

.main-nav {
    display: flex;
    align-items: center;
}


.nav {
    display: flex;
    margin-left: auto;
    margin-left: 93px;
}

.header-list {
    display: flex;
}

.header-list .item+.item {
    margin-left: 50px;

}

.navig {
    display: flex;
    margin-left: auto;
    align-items: center;


}

.item {
    display: flex;
    align-items: center;

}


.navig .item+.item {
    margin-left: 50px;
}

.contact-icon {
    fill: #757575;
    margin-right: 10px;
}

.header-nav {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--minor-color);
    justify-content: center;
    align-items: center;
    padding: 1px;

}

.header-nav:hover .contact-icon,
.header-nav:focus .contact-icon {
    fill: var(--accent-color);
}

.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    transition: color var(--time-duration);
}


.header-logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-color)
}


.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    transition: color var(--time-duration);
}


.header-link:hover,
.header-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color)
}

.header-nav:hover,
.header-nav:focus {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color)
}

.current {
    color: var(--accent-color);
}

.header-link.current {
    position: relative;
}

.header-link.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
    position: absolute;
    bottom: -1px;
}

/* hero */
.start {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    display: block;
    justify-content: center;
    align-items: center;
    max-width: 1600px;

    background-color: #000000;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;

}

.start-title {
    text-transform: uppercase;
    max-width: 696px;
    display: block;

    margin: 0 auto;
    margin-bottom: 30px;


    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--normal-color)
}

.start-button {
    padding: 10px 32px;


    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0px;
    border-radius: 4px;

    transition: color var(--time-duration), background-color var(--time-duration);

}

.start-button:hover,
.start-button:focus {
    background: rgba(33, 150, 243, 1);
    color: #FFFFFF;
}


/* button */

.information-item {
    max-width: 270px;
}

.information-list {

    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-color)
}

.information-list .information-item+.information-item {
    margin-left: 30px;

}

.icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    width: 270px;
    height: 120px;
    border-radius: 4px;

    background-color: #F5F4FA;
}

.information-sub-title {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.information-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--minor-color)
}

.work-text {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-color)
}

.work-list {
    display: flex;
    margin-top: 50px;
}

.work-item {
    position: relative;
}


.work-list .work-item+.work-item {
    margin-left: 30px;
}

.work-overlay {
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;


    color: var(--normal-color);
    background: rgba(47, 48, 58, 0.8);

    position: absolute;
    margin: 0 auto;
    padding: 27px 0px;
    bottom: 0;
}

.team-item {
    background: #FFFFFF;


    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list {
    border: 1px solid transparent;
    margin-top: 50px;
    display: flex;
}

.team-list .team-item+.team-item {
    margin-left: auto;
}

.team {
    background: var(--secondary-color);
}

.team-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-color)
}

.team-sub-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.text {

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.team-text {
    margin-top: 10px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    letter-spacing: 0.03em;
    color: var(--minor-color)
}

/* icons*/
.team-item-icon {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.team-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color var(--time-duration);

}

.team-icon {
    fill: #AFB1B8;
    transition: fill var(--time-duration);
}


.team-link-icon:hover,
.team-link-icon:focus {
    background-color: var(--accent-color);
}

.team-link-icon:hover .team-icon,
.team-link-icon:focus .team-icon {
    fill: var(--normal-color);
}

/* icons */

.client-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;

}

.client-item {
    width: 170px;
    height: 92px;
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    border-radius: 4px;
    border: 1px solid #AFB1B8;
    fill: #AFB1B8;
    transition: fill var(--time-duration);
}


.client-item:hover .client-link,
.client-link:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}


/*1 page */

.portfolio {

    align-items: center;
    display: flex;
    margin: 0 auto;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    color: #212121;
    justify-content: center;


}

.portfolio .portfolio-list+.portfolio-list {
    margin-left: 8px;

}

.portfolio-button {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;

    cursor: pointer;
    background-color: #f5f4fa;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color var(--time-duration);




}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    color: #ffffff;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.text-priw {
    position: relative;
    overflow: hidden;
}

.portfolio-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    margin: 0 auto;
    padding: 63px 24px;
    width: 100%;
    height: 100%;

    color: var(--normal-color);
    background-color: rgba(33, 150, 243, 0.9);

    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms linear;
}

/* кнопки */
.main-item {
    transition: box-shadow var(--time-duration);
}



.main-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 56px;
}

.main-link {
    width: calc((100%-60px)/3);
}

.main-item:hover,
.main-item:focus,
.main-item:hover .portfolio-text,
.main-item:focus .portfolio-text {
    transform: translateY(0%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
    color: var(--primary-color)
}


.main-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--minor-color)
}

.main-group {
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

/* подвал */
.fotter {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
}

.container.fotter {
    padding: 0;
    align-items: baseline;
    display: flex;
}

.f-logo {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color)
}

.fo-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--normal-color)
}

.fotter-adress {
    margin-top: 20px;
    font-style: normal;
}

.fotter-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--normal-color);
}

.fotter-nav .white {
    color: var(--normal-color);
    transition: color var(--time-duration);
}

.fotter-nav {
    margin-top: 9px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--time-duration);
}

.fotter-nav li+li {
    margin-top: 9px;
}

.fotter-nav:focus {
    color: var(--accent-color)
}

.fotter-nav:hover {
    color: var(--accent-color)
}

.dopinfo {
    margin-left: 70px;
}

.dopinfo-text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--normal-color);


    margin: 0% auto;

}

.dopinfo-item {
    margin-top: 20px;
    display: flex;
    justify-items: center;
    gap: 10px;
}

.dopinfo-icon {
    fill: var(--normal-color);
    transition: fill var(--time-duration);

}

.dopinfo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--time-duration);
    border-radius: 50%;
}

.dopinfo-link:hover,
.dopinfo-link:focus {
    background-color: var(--accent-color);
}

.dopinfo-link:hover .dopinfo-icon,
.dopinfo-link:focus .dopinfo-icon {
    fill: var(--normal-color);
}

.messenger {
    margin-left: 93px;
}

.messenger-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--normal-color)
}

.messenger-sumbit {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    margin-top: 20px;
}

.messenger-go {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--normal-color);
    border: 0;
}

.messenger-button {
    position: relative;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    padding: 10px 62px 10px 28px;
    text-align: center;

    margin-left: 12px;
}

.messenger-icon {
    position: absolute;
    fill: var(--normal-color);
    right: 28px;
    top: 13px;
    justify-content: center;
    align-items: center;

}

/* ANKETA STUDIO */


.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--time-duration), visibility var(--time-duration);
}

.modal {
    width: 528px;
    height: 581px;

    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.button-modal {
    width: 30px;
    height: 30px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-icon {
    fill: #000000;
}

.backdrop.is-hidden {
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
}

.input-field {
    margin-bottom: 10px;
}

.modal-tittle {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-color)
}

.modal-input {
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    padding-left: 42px;
}

.input-wrap {
    position: relative;
}

.input-icom {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-input:focus {
    border-color: var(--accent-color);
}

.modal-input:focus+.input-icom {
    fill: var(--accent-color);
}

.input-tittle {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--minor-color);

    margin-bottom: 4px;
    margin-top: 12px;
}

.input-check {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: absolute;
}




.modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: none;
    padding: 12px 16px;
}

.modal-text:focus {
    border-color: var(--accent-color);
}

.modal-text::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--minor-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-color);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 17px;
    margin-right: 9px;
}

.check-true {
    fill: transparent;
}

.input-check:checked+.check-text span {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}

.input-check:checked+.check-text .check-true {
    fill: var(--normal-color);
}

.policy-doc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    position: relative;
}

.policy-doc::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 2px;
    background-color: currentColor;
    position: absolute;
    bottom: 1.7px;
    right: 0;
}

/* MODAL */
.modal-button {

    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--normal-color);
    border: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--normal-color);



    padding: 10px 52px;
    margin-top: 30px;
    margin-left: 125px;

}